<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Aves DB</title>
  </head>
    <body>
    <div class="frame">
    <body>
    <h1>Identificador de Aves del Caribe Colombiano</h1>
    
    <div id="filtros"></div>

    <table id="tabla-aves">
        <thead>
            <tr>
                <th>Orden</th>
                <th>Especie</th>
                <th>Familia</th>
                <th>Nombre comun</th>
                <th>En peligro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Águila</td>
                <td>Aquila chrysaetos</td>
                <td>Blanco</td>
                <td>Grande</td>
            </tr>
            <tr>
                <td>Cóndor</td>
                <td>Vultur gryphus</td>
                <td>Negro</td>
                <td>Grande</td>
            </tr>
            <tr>
                <td>Colibrí</td>
                <td>Trochilidae</td>
                <td>Verde</td>
                <td>Pequeño</td>
            </tr>
            <!-- Agrega más filas de aves según sea necesario -->
        </tbody>
    </table>
</div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script type="text/javascript" src="/static/src/index.js"></script>
    </body>
  </html>
</html>
